name: build

on:
  schedule:
    - cron: '09 03 * * 1,3,5'
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.txt'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout Push to Registry action
      uses: actions/checkout@v3
    - name: Maximize build space
      id: container-storage-action
      uses: ublue-os/container-storage-action@911baca08baf30c8654933e9e9723cb399892140
      continue-on-error: true
      with:
        target-dir: /var/lib/containers
        mount-opts: compress-force=zstd:2
    - name: build
      shell: bash
      run: podman build . -t ghcr.io/santiagocezar/aurora-dx-nixed:latest
    - name: login
      shell: bash
      run: podman login ghcr.io -u santiagocezar -p ${{ secrets.GITHUB_TOKEN }}
    - name: push
      shell: bash
      run: podman push ghcr.io/santiagocezar/aurora-dx-nixed:latest
